@keyframes subtle-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-subtle-pulse {
  animation: subtle-pulse 4s ease-in-out infinite;
}

body{
  background-color: black;
  
}